<div class="single-story">

  <h1 class="single-story-title">{{ story.title }}</h1>
  <h2 class="single-story-author">By: {{ story.author }}</h2>
  <h4 class="single-story-synopsis">{{ story.synopsis }}</h4>
  <p class="story">{{ story.story }}</p>

  <a routerLink="/"><button class="back-btn">BACK</button></a>

  <a [routerLink]="'/edit/' + story._id" *ngIf="auth.user$ | async as user"><button>EDIT STORY</button></a>

  <button class="delete-btn" (click)="deleteStory()" *ngIf="auth.user$ | async as user">DELETE STORY</button>
</div>
