/* You can add global styles to this file, and also import other style files */
body {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: Baskerville;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  border-bottom: 3px solid #2B9094;
  width: 70%;
}

.site-title {
  font-family: 'Playball', cursive;
  font-size: 15vh;
}

.welcome {
  margin: 30px auto;
}

.login {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

button {
  background-color: #4CAF50; /* Green */
  border: none;
  border-radius: 5%;
  color: white;
  padding: 10px 15px;
  margin: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

a {
  text-decoration: none;
  color: #2B9094;
}

#contents-table {
  margin: 5vh auto 3vh auto;
}

.publish-btn {
  background-color: #87CEFA;
  color: #2F4F4F;
  margin-bottom: 3vh;
}

#stories-div {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.story-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 450px;
  border: 1px solid #123E40;
  margin: 10px;
}

.story-title {
  color: #123E40;
}

.main-page-hdr {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.single-story {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.synopsis {
  text-align: center;
  margin: 5px;
}
