/* You can add global styles to this file, and also import other style files */
app-root {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: Baskerville;
  background: #C0C0C0;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  background: url("https://wallpaperaccess.com/full/1543392.png");
  border-bottom: 3px solid #2B9094;
  width: 100%;
}

.header-container {
  width: 90%;
  height: 100%;
  background: rgb(0, 0, 0, 0.7);
  color: whitesmoke;
}

.site-title {
  font-family: 'Playball', cursive;
  font-size: 15vh;
}

.welcome {
  margin: 30px auto;
}

.login {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: 30px auto;
}

button {
  background-color: #4CAF50; /* Green */
  border: none;
  border-radius: 5%;
  color: white;
  padding: 10px 15px;
  margin: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

a {
  text-decoration: none;
  color: #2B9094;
}

#contents-table {
  margin: 5vh auto 3vh auto;
  color: whitesmoke;
}

.publish-btn {
  background-color: #87CEFA;
  color: #2F4F4F;
  margin-bottom: 3vh;
}

#stories-div {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.story-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: 450px;
  height: 300px;
  border: 1px solid #123E40;
  margin: 10px;
  background: whitesmoke;
}

.story-title {
  color: #123E40;
}

.main-page-hdr {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.single-story {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.synopsis {
  text-align: center;
  margin: 5px;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
}

.form-small-entry {
  width: 90vw;
}

label {
  display: inline-block;
  float: left;
  clear: left;
  width: 100px;
  text-align: center;
}

input {
  display: inline-block;
  float: left;
  width: 350px;
}

.synopsis-input {
  width: 350px;
}

.story-input {
  width: 90vw;
  height: 30vh;
}

label {
  font-size:
}

@media (min-width: 750px) {
  body{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Baskerville;
    background: #8B4513;
  }

  .header-container {
    width: 40%;
    height: 100%;
    background: rgb(0, 0, 0, 0.7);
    color: whitesmoke;
  }

  .form {
    background: #C0C0C0;
    width: 850px;
  }

  .story-input {
    width: 800px;
    height: 2000px;
  }

  .form-small-entry {
    width: 800px;
  }

  input {
    display: inline-block;
    float: left;
    width: 700px;
  }

  .synopsis-input {
    width: 700px;
  }
}
