<div class="form">
  <a routerLink="/"><button class="back-btn">Back</button></a>
  <div class="form-small-entry">
    <label for="title">Title: </label>
    <input type="text" name="title" placeholder="Title" [(ngModel)]="title" />
  </div>
  <div class="form-small-entry">
    <label for="author">Author: </label>
    <input type="text" name="author" placeholder="Author" [(ngModel)]="author" />
  </div>
  <div class="form-small-entry">
    <label for="synopsis">Synopsis: </label>
    <textarea class="synopsis-input" name="synopsis" rows="2" columns="100" placeholder="One to two sentence synopsis here..." [(ngModel)]="synopsis"></textarea>
  </div>
  <label for="story">Story: </label>
  <textarea class="story-input" name="story" placeholder="Your story here..." [(ngModel)]="story"></textarea>
  <button (click)="handleSubmit()">{{buttonLabel}}</button>
</div>
